html {
  text-align: center;
}

img {
  max-height: 400px;
}

.code-img {
  max-height: 150px;
}

.container {
  display: flex;
  justify-content: center;
}

.code {
  font-family: monospace, Arial, Helvetica, sans-serif;
}
